.App {
  text-align: center;
}

.container{
  align-items: center;
  justify-content: center;
  margin: 30px;

}

.heading{
  font-weight: bold;
  color: black;
}
.labeEmail{
  font-size: 20px;


}
.input{
  width: 300px;
  height: 30px;
  margin: 20px;
  border-radius: 7px;
}
.btn{
  background-color: darkorange;
  width: 300px;
  height: 40px;
  font-weight: bold;
  border-color: none;
  border-radius: 10px;
  text-align: none;
}